*{margin:0;
padding:0;}

body{
  background-image: url("bg.PNG");
}

.navbar{background-color:black;
display: flex;
justify-content: space-between;
align-items: center;}

.list{display:flex;
list-style-type:none;}

.list-item{
margin: 0 30px;
color: #ffffff;
font-family: Poppins;}

.logo{margin-left: 20px;
padding:5px;}

.line{background-color: white;
height:40px;
width:2px;}

.grow-list{
  width:900px;}

.button-small{padding:10px 25px;
background-color:#ba0cc5;
border-radius: 10px;
margin-bottom:10px;
border: none;
color:white;
font-family: Poppins;}

.hero{text-align: center;
justify-content: center;
margin-top: 150px;}



.hero-heading{font-size:85px;
color: white;
font-family:Montserrat;}

.hero-description{color: white;
font-size: 30px;}

.button-large{padding:15px 25px;
background-color:#ba0cc5;
border-radius: 10px;
border: none;
margin-top: 35px;
color:white;
font-family: Poppins;
font-size: 25px;
font-family: Poppins;}
